<!--
Date: 06/03/2025

View for users to register
-->

<div class="container">
    <div class="row">
        <div class="container container--mini">
            <form action="/register" method="post">

            <div class="form-group mt-2">
                <label>Email</label>
                <input type="text" name="email" class="form-control" value="" size="20" autocomplete="off">
            </div>
            <div class="form-group mt-2">
                <label>Password</label>
                <input type="password" name="password" class="form-control" value="" size="20" autocomplete="off">
            </div>
            <div class="form-group mt-2">
                <div class="row text-center align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary mb-4">Register</button>
                    </div>
                </div>
            </div>
            
            </form>
        </div>
    </div>
</div>