<!--
Date: 06/03/2025

Home View.
-->
<div class="container">
    <div class="row">
        <h1>Welcome Home!</h1>
    </div>
    <div class="row text-center align-items-center">
        <img src="/assets/images/guitar home.jfif" class="img-fluid" alt="Girl in a jacket">
    </div>
</div>